platform:
  - x64

image: Visual Studio 2017

branches:
  except:
    - gh-pages

clone_folder: C:\projects\steward

cache:
  - C:\tools\php -> appveyor.yml

init:
 - SET PHP=1
 - SET PATH=C:\tools\php;%PATH%
 - SET ANSICON=121x90 (121x90)
 - git config --global core.autocrlf false

install:
  - IF EXIST c:\tools\php (SET PHP=0)
  - IF %PHP%==1 cinst -y OpenSSL.Light
  - IF %PHP%==1 cinst -y php --params "/InstallDir:C:\tools\php" # we could use -version to specify exact version, but we rather use the latest available
  - cd C:\tools\php
  - IF %PHP%==1 copy php.ini-production php.ini /Y
  - IF %PHP%==1 echo extension_dir=ext >> php.ini
  - IF %PHP%==1 echo extension=php_openssl.dll >> php.ini
  - IF %PHP%==1 echo extension=php_mbstring.dll >> php.ini
  - IF %PHP%==1 echo extension=php_curl.dll >> php.ini
  - cd %APPVEYOR_BUILD_FOLDER%
  - appveyor DownloadFile https://getcomposer.org/composer.phar
  - php composer.phar update --no-interaction --no-progress

test_script:
  - cd %APPVEYOR_BUILD_FOLDER%\src-tests\
  - ..\vendor\bin\phpunit --colors=always --exclude-group integration

build: false # disable build step (we only run tests)
