# Ignore downloaded files
bin/selenium-server-standalone-*.jar

# Ignore libraries installed using Composer
vendor
# Ignore test logs
logs

# IDE files
.idea
*.iml
nbproject

# File with this name (really!) is created by buggy adobe pdf plugin in firefox
C:\\nppdf32Log\\debuglog.txt
