parameters:
	ignoreErrors:
		- '#Undefined variable: \$e#'
		- '#Constructor of class .+ImplementsCapabilitiesResolverInterface has an unused parameter \$config#'
		- '#Lmc\\Steward\\ConfigProviderHelper::__construct\(\) does not call parent constructor from Lmc\\Steward\\ConfigProvider#'
		- '#Constructor of class Lmc\\Steward\\Selenium\\Fixtures\\CapabilitiesResolverFixture has an unused parameter \$config#'
		- '#Access to an undefined property PHPUnit\\Framework\\MockObject\\MockObject#'
		- '#Call to an undefined method PHPUnit\\Framework\\MockObject\\MockObject::setCommandExecutor\(\)#'
		- '#Call to an undefined method Lmc\\Steward\\Component\\Fixtures\\MockComponent::notExisting\(\)#'
		- "#but returns PHPUnit\\\\Framework\\\\MockObject\\\\MockObject#"
		- "#does not accept PHPUnit\\\\Framework\\\\MockObject\\\\MockObject#"
		- "#Property Lmc\\\\Steward\\\\Test\\\\AbstractTestCase::\\$wd \\(Facebook\\\\WebDriver\\\\Remote\\\\RemoteWebDriver\\) does not accept Lmc\\\\Steward\\\\WebDriver\\\\NullWebDriver#"
	excludes_analyse:
		- '%rootDir%/../../../../src-tests/Process/Fixtures/InvalidTests/WrongClassTest.php'
		- '%rootDir%/../../../../src-tests/Test/SyntaxSugarTraitTest.php'
	bootstrap: %rootDir%/../../../../src-tests/bootstrap.php
