includes:
	- vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
	ignoreErrors:
		- '#Undefined variable: \$e#'
		- '#Constructor of class .+ImplementsCapabilitiesResolverInterface has an unused parameter \$config#'
		- '#Lmc\\Steward\\ConfigProviderHelper::__construct\(\) does not call parent constructor from Lmc\\Steward\\ConfigProvider#'
		- '#Constructor of class Lmc\\Steward\\Selenium\\Fixtures\\CapabilitiesResolverFixture has an unused parameter \$config#'
		- '#Call to an undefined method Lmc\\Steward\\Component\\Fixtures\\MockComponent::notExisting\(\)#'
		- "#does not accept PHPUnit\\\\Framework\\\\MockObject\\\\MockObject#"
		- "#is not subtype of native type PHPUnit\\\\Framework\\\\MockObject\\\\MockObject#"
		- "#Property Lmc\\\\Steward\\\\Test\\\\AbstractTestCase::\\$wd \\(Facebook\\\\WebDriver\\\\Remote\\\\RemoteWebDriver\\) does not accept Lmc\\\\Steward\\\\WebDriver\\\\NullWebDriver#"
		# PHPStan does not like the singleton methods
		- "#Access to an undefined property object::\\$serverUrl#"
		- "#Access to an undefined property object::\\$browserName#"
		- "#Access to an undefined property object::\\$env#"
		- "#Access to an undefined property object::\\$logsDir#"
		- "#Access to an undefined property object::\\$debug#"
		- "#Result of \\|\\| is always true.#" # https://github.com/phpstan/phpstan/issues/1377
		- "#Property Lmc\\\\Steward\\\\Listener\\\\WebDriverListener::\\$config \\(Lmc\\\\Steward\\\\ConfigProvider\\) does not accept object.#" # https://github.com/phpstan/phpstan/issues/1301
		- "#^Offset [0-9]+ does not exist on array\\(\\).$#" # https://github.com/phpstan/phpstan-phpunit/issues/25
	excludes_analyse:
		- '%rootDir%/../../../../src-tests/Process/Fixtures/InvalidTests/WrongClassTest.php'
		- '%rootDir%/../../../../src-tests/Test/SyntaxSugarTraitTest.php'
		- '%rootDir%/../../../../src-tests/ConfigProviderTest.php'
	bootstrap: %rootDir%/../../../../src-tests/bootstrap.php
