<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/5.6/phpunit.xsd"
    bootstrap="./bootstrap.php"
    colors="true"
    beStrictAboutTestsThatDoNotTestAnything="true"
    backupGlobals="false"
>
    <testsuite name="Steward">
        <directory>./</directory>
        <exclude>./Process/Fixtures</exclude>
        <exclude>./Console/Command/Fixtures</exclude>
        <exclude>./FunctionalTests/</exclude>
    </testsuite>

    <filter>
        <whitelist>
            <directory suffix=".php">../src</directory>
            <exclude>
                <file>../src/bootstrap.php</file>
                <file>../src/Console/Command/Command.php</file>
                <file>../src/Publisher/AbstractPublisher.php</file>
                <file>../src/Test/AbstractTestCaseBase.php</file>
            </exclude>
        </whitelist>
    </filter>

    <logging>
        <log type="coverage-html" target="./coverage"/>
        <log type="coverage-clover" target="./logs/clover.xml"/>
        <log type="junit" target="./logs/junit.xml" logIncompleteSkipped="false"/>
        <log type="testdox-html" target="./logs/testdox.html" />
    </logging>
</phpunit>
