name: Tests and linting

on:
  push:
  pull_request:
  schedule:
    - cron:  '0 3 * * *'

jobs:
  codestyle:
      name: "Code style and static analysis"
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@v2

        - name: Setup PHP
          uses: shivammathur/setup-php@v2
          with:
            php-version: '7.4'
            extensions: mbstring, intl
            tools: composer:v2

        - name: Install dependencies
          run: composer update --no-progress

        - name: Lint
          run: composer lint

        - name: Run checks
          run: composer analyze
